<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogInventory\Model\StockStateProvider">
        <plugin name="falconmedia_moq_increments_per_store" type="FalconMedia\MoqIncrementsPerStore\Plugin\StockStateProviderPlugin" />
    </type>
</config>
